<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ZLBanner.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EDAA51FE1E8D2ECD004ABE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDAA52171E8D2ECE004ABE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EDAA52221E8D2ECE004ABE26</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
